.heading{
/* color: ; */
display: flex;
justify-content: center;
align-items: center;
padding: 20px;

}
.dinogame{
    background-color: black;
    width: 1250px;
    height: 400px;
    /* border-color: yellow; */
    border: 2px solid yellow;
    position: relative;
    
}
.dinogameresponsive{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.discription{
/* color: ; */
display: flex;
justify-content: center; /* Centers the heading */
align-items: center;
/* padding: 20px; */

}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
}
.button1{
    border-color: yellow;
    color: green;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
}
.button2{
    border-color: yellow;
    color: red;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
}
.dinocoin{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
   
}
.dinocointext{
    border: 2px solid yellow;
}
.dino{
    width: 100px;
    height: 90px;
    bottom:0;
    position:absolute;
}
